<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'></link>
</head>
<body>
	<div style="width:615px; height:842px; padding:20px; text-align:center; border: 10px solid #63b175; background-image: 'temp.png'; ">
		<h1 style="color: white; text-align: right;">CodeLine</h1>
		<div style="margin-top: 200px">
			<h1 style="font-family: Lobster;">Z A H V A L N I C A</h1>
		</div>
		<div style="margin-top: 40px;">
			<h3>Zahvaljujemo se što ste preporučili IT stručnjaka.</h3>
		</div>
		<button class="btn btn-danger">Klikni me</button>
	</div>
</body>
</html>
